# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
front/

# dependencies
node_modules

# System Files
.vscode/

# ZetaPush Config
.zetarc
application.json