<mat-horizontal-stepper #stepper>

	<mat-step [stepControl]="eventFormGroup">
		<form [formGroup]="eventFormGroup">
			<ng-template matStepLabel> Fill out your event name </ng-template>
			<mat-form-field>
				<input matInput placeholder="Event name" formControlName="eventCtrl" autocomplete="off" autofocus required>
			</mat-form-field>
			<div>
				<button mat-raised-button matStepperNext color="primary"
						(click)="myEvent.name = eventFormGroup.value.eventCtrl"
						[disabled]="!eventFormGroup.value.eventCtrl"
				> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="addressFormGroup">
		<form [formGroup]="addressFormGroup">
			<ng-template matStepLabel> Fill out the address </ng-template>
			<mat-form-field>
				<input matInput placeholder="Address" formControlName="addressCtrl" autocomplete="off" autofocus required>
			</mat-form-field>
			<div>
				<button mat-raised-button matStepperPrevious color="primary"> Back </button>
				<button mat-raised-button matStepperNext color="primary"
						(click)="myEvent.address = addressFormGroup.value.addressCtrl"
						[disabled]="!addressFormGroup.value.addressCtrl"
				> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="dateFormGroup">
		<form [formGroup]="dateFormGroup">
			<ng-template matStepLabel> Choose a date </ng-template>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" formControlName="dateCtrl" placeholder="Choose a date" autocomplete="off" autofocus required>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<mat-select [(value)]="dateFormGroup.value.hourCtrl" placeholder="Hours">
					<mat-option *ngFor="let hour of hours" [value]="hour"> {{hour}}h</mat-option>
				</mat-select>
			</mat-form-field>
			<div>
				<button mat-raised-button matStepperPrevious color="primary"> Back </button>
				<button mat-raised-button matStepperNext color="primary"
						(click)="myEvent.date = format_date()"
						[disabled]="!dateFormGroup.value.dateCtrl || !dateFormGroup.value.hourCtrl"
				> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel> Create event ! </ng-template>
		<p> Name :
			<span *ngIf="myEvent && myEvent.name"> {{myEvent.name}} </span>
			<span class="missing" *ngIf="!myEvent || !myEvent.name"> Missing </span>
		</p>
		<p> Address :
			<span *ngIf="myEvent && myEvent.address"> {{myEvent.address}} </span>
			<span class="missing" *ngIf="!myEvent || !myEvent.address"> Missing </span>
		</p>
		<p> Date :
			<span *ngIf="myEvent && myEvent.date"> {{myEvent.date}} </span>
			<span class="missing" *ngIf="!myEvent || !myEvent.date"> Missing </span>
		</p>
		<div>
			<button mat-raised-button matStepperPrevious color="primary"> Back </button>
			<button mat-raised-button color="primary"
					(click)="create_event()"
					[disabled]="!myEvent.name || !myEvent.address || !myEvent.date"
			> Create </button>
		</div>
	</mat-step>

</mat-horizontal-stepper>

<div *ngIf="eventID" class="form">
	<h1> eventID : {{eventID}} </h1>
	<h3> Share it with your friends : <a id="eventUrl" href="{{eventUrl}}"> {{eventUrl}} </a> </h3>
	<a id="button" mat-raised-button color="primary" [routerLink]="['/event', eventID]"> Join your event ! </a>
</div>
