<mat-horizontal-stepper #stepper>

	<mat-step [stepControl]="eventFormGroup">
		<form [formGroup]="eventFormGroup">
			<ng-template matStepLabel> Fill out your event name </ng-template>
			<mat-form-field>
				<input matInput placeholder="Event name" formControlName="eventCtrl" required>
			</mat-form-field>
			<div>
				<button mat-button matStepperNext> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="addressFormGroup">
		<form [formGroup]="addressFormGroup">
			<ng-template matStepLabel> Fill out the address </ng-template>
			<mat-form-field>
				<input matInput placeholder="Address" formControlName="addressCtrl" required>
			</mat-form-field>
			<div>
				<button mat-button matStepperPrevious> Back </button>
				<button mat-button matStepperNext> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="dateFormGroup">
		<form [formGroup]="dateFormGroup">
			<ng-template matStepLabel> Choose a date </ng-template>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" formControlName="dateCtrl" placeholder="Choose a date">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<mat-select [(value)]="dateFormGroup.value.hourCtrl">
				  <mat-option *ngFor="let hour of hours" [value]="hour"> {{hour}}h</mat-option>
				</mat-select>
			  </mat-form-field>
			<div>
				<button mat-button matStepperPrevious> Back </button>
				<button mat-button matStepperNext (click)="format_date()"> Next </button>
			</div>
		</form>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel> Create event ! </ng-template>
		<p> Name :
			<span *ngIf="eventFormGroup.value.eventCtrl"> {{eventFormGroup.value.eventCtrl}} </span>
			<span class="missing" *ngIf="!eventFormGroup.value.eventCtrl"> Missing </span>
		</p>
		<p> Address :
			<span *ngIf="addressFormGroup.value.addressCtrl"> {{addressFormGroup.value.addressCtrl}} </span>
			<span class="missing" *ngIf="!addressFormGroup.value.addressCtrl"> Missing </span>
		</p>
		<p> Date :  {{eventFormGroup.value.dateCtrl}}
			<span *ngIf="dateFormGroup.value.dateCtrl"> {{dateFormGroup.value.dateCtrl}} </span>
			<span class="missing" *ngIf="!dateFormGroup.value.dateCtrl"> Missing </span>
		</p>
		<div>
			<button mat-button matStepperPrevious> Back </button>
			<button mat-button (click)="create_event()"> Create </button>
		</div>
	</mat-step>

</mat-horizontal-stepper>