<div *ngIf="myEvent">
	<mat-toolbar fxLayout="row wrap" color="primary">
		<span> {{myEvent.name}} </span>
		<span> {{myEvent.address}} </span>
		<span> {{myEvent.date}} </span>
	</mat-toolbar>

	<h1 *ngIf="!messages || !messages.length"> Become the first to send a photo ! </h1>
	<div *ngIf="messages && messages.length" fxLayout="row wrap" class="messages">
		<mat-card *ngFor="let message of messages">
			<mat-card-content>
				<img [src]="message.data">
			</mat-card-content>
			<mat-card-footer>
				<i> {{message.ts}} </i>
			</mat-card-footer>
		</mat-card>
	</div>

	<form #form>
		<input style="display: none" #input type="file" (change)="sendImage($event.target.files)" accept="image/*" multiple/>
		<button mat-flat-button color="primary" (click)="input.click()">
			Send photos
			<mat-icon> send </mat-icon>
		</button>
	</form>
</div>