<mat-toolbar *ngIf="myEvent" color="primary">
	<span> {{myEvent.address}} </span>
	<span> {{myEvent.name}} </span>
	<span> {{myEvent.date}} </span>
</mat-toolbar>

<form #form>
	<input type="file" (change)="sendImage($event.target.files)" accept="image/*" multiple/>
</form>

<div fxLayout="row wrap">
	<mat-card fxFlex="calc(50% - 16px)" fxFlex.gt-sm="calc(40% - 16px)" fxFlex.gt-md="calc(30% - 16px)" fxFlex.gt-lg="calc(20% - 16px)" *ngFor="let message of messages">
		<mat-card-header>
			<mat-card-title> Send at {{message.ts}} </mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<img [src]="message.data.url">
		</mat-card-content>
	</mat-card>
</div>